
#facebook-link {
  color: #4267B2;
}

@media (max-width: 992px) {
  .bg-color-white-lg {
    background-color: var(--bs-white) !important;
  }
}

@media (min-width: 768px) {
  .text-black-lg {
    color: var(--bs-white) !important;
  }
}

.call-to-action-heading {
  text-shadow: 6px 5px 7px rgba(0,0,0,0.75);
}

.text-shadow {
  text-shadow: 3px 2px 3px rgba(0,0,0,0.75);
}

#services-section {
  background: url("../../assets/img/gallery-4.jpg");
  background-attachment: fixed;
  background-size: 100%;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

@media (max-width: 768px) {
  #services-section {
    background-size: cover;
    background-position: center;
  }
}

/* .sk-search-container, .sk-facebook-page-posts-profile-pic-container, .sk-profile-about-container, .sk-profile-description, .sk_facebook_posts_feed_username_follow, .sk-facebook-page-posts-profile-counts{
  display: none !important;
}

.tutorial_link{
  display: none !important;
}

.sk-facebook-page-posts-profile-info{
  text-align: center;
}
.facebook-page-posts-user-container{
  background-color: #d9534f !important;
  border: none !important;
  font-size: large !important;
}

.href_status_trigger_post, .sk-post-repost-count{
  color: #d9534f !important;
}

.sk-fb-post-footer-icon > a  {
  color: #d9534f !important;
}

.sk-facebook-page-posts-load-more-posts{
  background-color: #d9534f !important;
  margin-top: 3rem !important;
} */

.grid-content{
  background-color: #fffeeb !important;
}

.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bs-danger);
  --bs-popover-header-bg: var(--bs-danger);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
}